<!-- Begin page content -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container ">
    <a class="navbar-brand" href="/companies">Exercise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-center p-3" href="/companies/import_companies">Import</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-center p-3" href="/companies/scrape_companies">Scrape</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


